
/*HVAD DER SKAL VÆRE IGENNEM HELE SIDEN*/
body, html{
margin: 0;
height: 100%;
background-image: url("images/baggrund.png");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/*LOGO FADE-IN*/
@keyframes fadeIn{
0% {opacity:0;}
100% {opacity:1;}
}
    
section{
width: 80%;
margin: auto; 
text-align: center;
line-height: 1.9;
}

img#logo{
margin-top: 220px;
margin-bottom: 300px; 
animation: fadeIn;
animation-duration: 6s;
animation-delay: 0s;
}

/*STYLING AF POP-UP TIL SAMARBEJDSPARTNERE*/
.callout {
position: fixed;
bottom: 250px;
right: 20px;
margin-left: 20px;
max-width: 260px;
font-family: 'Didact Gothic', sans-serif;
}

/*Øverste sektion til pop-up funktionen*/
.callout-header {
padding: 25px 15px;
background:#1c4070;
font-size: 20px;
color: #f69e2a;
}

/*Nederste sektion til pop-up funktionen*/
.callout-container {
padding: 15px;
background-color: white;
color:#1451a7;
}
.callout-container > a{
text-decoration: none;
color:#1c4070;
}

/*Lukke knap*/
.closebtn {
position:absolute;
top: 1px;
right: 15px;
color: white;
font-size: 30px;
cursor: pointer;
}
  
.closebtn:hover {
color: #f69e2a;
}

/*TYPEWRITER EFFEKTEN*/

a.typewrite{
text-decoration: none;
position: absolute;
top: 520px;
left: 610px;
color: rgb(217, 141, 0);
font-size: 80px;
font-family: 'Didact Gothic', sans-serif;
font-weight: normal;
}

/*ANIMATIONEN AF PERSONER*/

@keyframes fadeInLeft{
0%{
opacity: 0;
transform: translateX(-250px);
}
100%{
opacity: 1;
transform: translateX(0);
}
}
@keyframes fadeInTop{
0%{
opacity: 0;
transform: translateY(-250px);
}
100%{
opacity: 1;
transform: translateY(0);
}
}
@keyframes fadeInRight{
0%{
opacity: 0;
transform: translateX(250px);
}
100%{
opacity: 1;
transform: translateX(0);
}
}

/*RASMUS VESTERGAARD INFO SEKTION*/
.animated{
color:#1c4070;
width: 400px;
height: 421px;
border-radius: 50%;
background-position: center;
background-size: cover;
display: flex;
flex-direction: row;
margin-top: 150px;
background-size: 110%;
transition: all 0.3s ease-in-out;
}
.animated:hover{
background-size: 120%;
}

/*MARTIN FOLDEN INFO SEKTION*/
.animated2{
color:#1c4070;
width: 400px;
height: 421px;
border-radius: 50%;
background-position: center;
background-size: cover;
display: flex;
flex-direction: row;
margin-top: 150px;
margin-left: 700px;
background-size: 110%;
transition: all 0.3s ease-in-out;
}
.animated2:hover{
background-size: 120%;
}

/*RASMUS WRANG INFO SEKTION*/
.animated3{
color:#1c4070;
width: 400px;
height: 421px;
border-radius: 50%;
background-position: center;
background-size: cover;
display: flex;
flex-direction: row;
margin-top: 150px;
background-size: 110%;
transition: all 0.3s ease-in-out;
}
.animated3:hover{
background-size: 120%;
}

/*STYLING PÅ FADE-IN EFFEKTEN*/
.fadeInTop{
background-image: url(/images/rasmus1.png);
animation: fadeInTop 2.2s both;
}
.fadeInRight{
background-image: url(/images/martin.png);
animation: fadeInRight 2.2s both; 
}
.fadeInLeft{
background-image: url(/images/rasmus3.png);
animation: fadeInLeft 2.2s both; 
}
  
#bulb{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 150px;
}


/*TIDSLINJE*/
* {
box-sizing: border-box;
}
  
/* Hele sektionen */
.timeline {
position: relative;
max-width: 1200px;
margin: 0 auto;
}

.timeline::after {
content: '';
position: absolute;
width: 6px;
background-color:#1c4070;
top: 0;
bottom: 0;
left: 50%;
margin-left: -3px;
opacity: 60%;
}
  
/* Beholderen rundt om inholdet */
.container {
padding: 10px 40px;
position: relative;
background-color: inherit;
width: 50%;
transition: all 0.3s ease-in-out;
}
.container:hover{
width: 53%;
}
.right:hover{
left: 47%;
}
  
/* Cirklen på tidslinjen */
.container::after {
content: '';
position: absolute;
width: 25px;
height: 25px;
right: -17px;
background-color: white;
border: 4px solid #f69e2a;
top: 15px;
border-radius: 50%;
z-index: 1;
}
  
/* Placer boksen til venstre */
.left {
left: 0;
}
  
/* Placer boksen til højre */
.right {
left: 50%;
}
  
/* Pile i venstre boks (peger højre) */
.left::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
right: 30px;
border: medium solid white;
border-width: 10px 0 10px 10px;
border-color: transparent transparent transparent white;
}
  
/* Pile i højre boks (peger venstre) */
.right::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
left: 30px;
border: medium solid white;
border-width: 10px 10px 10px 0;
border-color: transparent white transparent transparent;
}

/* Fixer cirklen til bokse på højre side */
.right::after {
left: -16px;
}
  
/* Indholdet */
.content {
padding: 10px 20px;
background-color: white;
position: relative;
border-radius: 6px;
text-align: center;
font-family: 'Didact Gothic', sans-serif;
}
/*DEN GODE SMAGSOPLEVELSE SEKTION*/
#smagsoplevelse{
margin-top: 100px;
width: 100%;
height: 1300px;
background-image: url("images/baggrund2.png");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/*VIDEO AF INTERVIEW*/
.interview{
display: flex;
justify-content: center;
width: 100%;
margin-top: 300px;
}
.interview > #myVideo{
width: 80%;
height: 100%;
}

/*VIDEO AF PRODUKTION*/
#produktion{
display: flex;
justify-content: center;
width: 100%;
}
#produktion > #myVideo2{
width: 80%;
height: 100%;
}

/*VIDEO AF DRINKS*/
video {
width: 70%;
height: 100%;
object-fit:cover;
transform-origin:center;
transition:0.5s;
}

.kort{
max-width:600px;
max-height:350px;
margin-top: 120px;
display:flex;
justify-content:center;
align-items:center;
gap:20px;
}

.kort:hover video {
opacity:0.3;
}
.kort video:hover {
opacity:1;
width: 100%;
height: 100%;
}


/*PARALLAX SEKTIONEN*/
#parallax{
margin-top: 100px;

width: 100%;
height: 800px;
background-image: url("images/baggrund2.png");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
/*FLASKERNE*/
#flasker{
display: flex;
flex-direction: row;
justify-content: space-evenly;
max-width:600px;
max-height:500px;
margin-bottom: 200px;
padding-left: 70px;
}
#flasker > img {
padding-left: 75px;
padding-right: 75px;
}

/*----------------------------FONTS----------------------------*/

/*FONTS TIL PARALLAX SEKTIONEN*/
.orangeoverskrift{
padding-top: 130px;
color:#f69e2a;
font-family: 'Didact Gothic', sans-serif;
font-size: 70px;
margin-bottom: 50px;
}
.tekst{
color: #1c4070;
justify-content: center;
margin: 0 auto;
width: 70%;
font-size: 20pt;
line-height: 1.5cm;
padding-bottom: 30px;
}


/*FONTS TIL INFO BOKS OM DE TRE DRENGE*/
p#info1{
margin-top: 20px;
position: relative;
top: 290px;
left: 780px;
transform: translate(-50%, -50%); 
font-size: 18pt;  
}
p#info2{
width: 80%;
position: relative;
top: 290px;
right: 450px;
transform: translate(-50%, -50%);
font-size: 18pt;  
}
p#info3{
width: 80%;
position: relative;
top: 290px;
left: 780px;
transform: translate(-50%, -50%);
font-size: 18pt;  
}


/*FONTS TIL TIDSLINJEN*/
p.tidslinje {
font-family: 'Didact Gothic', sans-serif;
color: #1c4070;
}

p{
font-family: 'Didact Gothic', sans-serif;
}
.overskrift{
text-align: center;
font-family: 'Didact Gothic', sans-serif;
color: #1c4070;
opacity: 70%;
}

h2 {
color: #f69e2a;
font-family: 'Didact Gothic', sans-serif;
}


/*FONTS TIL COCKTAIL SEKTIONEN*/
#drinkoverskrift{
font-family: 'Didact Gothic', sans-serif;
color: #1c4070;
text-align: center;
font-size: 40pt;
margin-top: 400px;
}

#espresso{
color: #f69e2a;
font-family: 'Didact Gothic', sans-serif;
margin-top: 50px;

}
#ingefær{
color: #f69e2a;
font-family: 'Didact Gothic', sans-serif;
padding-left: 120px;
padding-right: 100px;
margin-top: 50px;
}
#cherry{
color: #f69e2a;
font-family: 'Didact Gothic', sans-serif;
padding-left: 50px;
margin-top: 50px;
}

#cocktails{
display: flex;
flex-direction: row;
margin-top: 50px;
justify-content: space-around;
}

#opskrift{
color:#1c4070;
display: flex;
flex-direction: row;
justify-content: space-around;
text-align:center;
margin-bottom: 200px;
font-size: 14pt;
}

#opskrift1{
padding-left: 40px;
padding-right: 240px;
}


#opskrift2{
padding-right: 75px;

}
#opskrift3{
padding-left: 170px;
padding-right: 15px;
}

/*FONTS TIL FLASKESEKTIONEN*/
#flaskeoverskrift{
margin-top: 150px;
text-align: center;
color: #f69e2a;
font-family: 'Didact Gothic', sans-serif;
font-size: 40pt;

}
/*DE 4 FLASKER BESKRIVELSE*/
.beskrivelse{
top: 470px;
position: relative;
right: 190px;
font-size: 15pt;
color: #1c4070;
}

/*FOOTER*/
footer{
line-height: 2cm;

display: flex;

background-image: url("images/baggrund2.png");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.kontakt{
font-size: 15pt;
color:#1c4070;
text-decoration: none;
font-family: 'Didact Gothic', sans-serif;
}
.kontakt:hover{
text-decoration: underline;
}
.socialemedier{
margin-top: 40px;
max-width: 50px;
max-height: 50px;
margin-right: 20px;
margin-left: 20px;
}

#gif{
padding-top: 30px;
padding-bottom: 10px;
max-width: 500px;
max-height: 500px;
margin-left: 100px;
}
